<% if object.errors.any? %>
  <div id="error_explanation" class="ui message">
    <div class="header">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= "#{(object.class).to_s.downcase}" %> from being saved:</h2>
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
