/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

 // Color Palette

 $primary-green: #A6E246;
 $accent-color: #FFF499;
 $dark-gray: #5D5E60;
 $light-gray: #969696;
 $deep-navy: #252C3D;

 .page-body {
   margin-top: 50px !important;
   margin-right: 25px !important;
   margin-left: 25px !important;
 }


 .image-div {
   background: url(/assets/img_00791.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 600px;
   margin-top: 40px !important;
 }

 .content-div {
   background: $deep-navy no-repeat center center fixed !important;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 150px;
   margin-top: 2em !important;
   margin-bottom: 0em !important;
   text-align: center !important;
 }

 .inactive {
   display: none;
 }

 #mapbox_map {
   position:absolute;
   top:0;
   bottom:0;
   width:90%;
   height:90%;
   margin-top: 40px;
   margin-left: 15px;
  }

 #more-link {
   font-weight: bold;
 }

#map-container{
  height: 450px;
  width: 500px;
}

#inbox{
  margin: 20px;
}

a:hover, .button:hover {
  color: $primary-green !important;
  text-decoration: none;
}

.deep-navy-background {
  background: $deep-navy !important;
  color: $light-gray !important;
}

.deep-navy {
  color: $deep-navy !important;
}

.primary-green-button {
  background: $primary-green !important;
  color: $deep-navy !important;
}

.primary-green-button:hover {
  background: $primary-green !important;
  color: $light-gray !important;
}

.inverted.button.primary-green {
  color: $primary-green !important;
  box-shadow: 0px 0px 0px 2px $primary-green inset !important;
}

.inverted.button.primary-green:hover {
  color: #FFFFFF !important;
  box-shadow: 0px 0px 0px 2px $primary-green inset !important;
  background-color: $primary-green !important;
}

.inverted.button.deep-navy {
  color: $deep-navy !important;
  box-shadow: 0px 0px 0px 3px $deep-navy inset !important;
  background-color: none !important;
}

.inverted.button.deep-navy:hover {
  color: $primary-green !important;
  box-shadow: 0px 0px 0px 3px $deep-navy inset !important;
  background-color: $deep-navy !important;

}

.inverted.button.dark-gray {
  color: $dark-gray !important;
  box-shadow: 0px 0px 0px 2px $dark-gray inset !important;
}

.compact.inverted.button.red {
  color: red !important;
}

.compact.inverted.button.red:hover {
  color: #FFFFFF !important;
}

.panel-text {
  margin-bottom: 2em !important;
}

.light-gray {
  color: $light-gray !important;
}

.footer-text {
  text-align: center !important;
  margin: 5em !important;
}

.page-header {
  margin-top: 20px !important;
}
.error {
  color: #FF0000;
}
#message_container .comment{
  margin-top: 13px;
}

#message_list{
  margin-right: 13px;
}
#message_icon{
  margin-left: 10px;
}

#message_list{
  margin-right: 13px;
}

#message_icon{
  margin-left: 10px;
}
.active {
  color: $primary-green !important;
  font-weight: bold;
}

.validation-error-message {
  background-color: red;
}
#no_message_content{
  color: #939393;
}

.description.text{
  color: $dark-gray !important;
  font-weight: normal !important;
}

@media all and (max-width: 767px) {
  .ui.mobile.only.grid, .ui.grid >.mobile.only.row {
    display: block!important;
    width: 100% !important;
  }
  .ui.vertical.menu {
    width: 100% !important;
  }
  .ui.breadcrumb.registration {
    display: none !important;
  }

  div.inbox {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .ui.computer.only.grid, .ui.grid >.computer.only.row {
    display: block!important;
  }
  .ui.tablet.only.grid, .ui.grid >.tablet.only.row {
    display: block!important;
  }
  .ui.mobile.only.grid, .ui.grid >.mobile.only.row {
    display: none !important;
  }
  .ui.vertical.menu {
    display: none !important;
  }
}
